body{
    margin:0px;
    padding:0px;
    background: #D6E9F7;
    background-size: cover;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}
a.navbar-brand,.employeename,.logout{
    color:#FFFFFF;
}
.logo{
width: 200px;
height:80px;
}

.navbar{
    background: #2F8ED4;
    color:#FFFFFF;   
}

.employeename:hover {
    color: rgb(112, 4, 4);
    text-decoration: none;
}

.logout:hover {
    color: rgb(112, 4, 4);
    text-decoration: none;
}

.main{
 padding:0px 0px 0px 0px;
}

.container{
    max-width: 1350px;
}

.personaldet{
    background: #FFFFFF;
    padding:50px 0px 50px 0px;
}
.search{
    margin:0px 0px 0px 0px;
    border:2px solid #2F8ED4;
}
    
 .empdetails{
        margin:50px 0px 0px 0px;
}

a.hr1{
        font-size: 20px;
        padding: 30px;
        margin: 10px;
}


label.radio{
font-size: 18px;
margin: 5px;
padding: 2px;
}

label{
    padding-left: 30px;
    font-size: 18px;
    margin: 5px;
    display: inline-block;
    clear: left;
    width: 250px;
}

.submit{
margin: 30px 200px;
}


/* .containerx {
    width: 1000px;
    clear: both;
  }
  
  .containerx input {
    width: 50%;
    clear: both;
  } */