body{
    margin:0px;
    padding:0px;
    background-image: url(logo.png);
    background-size:cover;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

.wrapper{

width: 320px;
height: auto;
background: #FAFAFA;
border: 3px solid #2F8ED4;
border-radius: 10px;
padding:20px;
margin: 3% auto 0;  
}



  /* Full-width inputs */
  input[type=email], input[type=password], input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border:solid #2F8ED4;
    background: rgba(47, 142, 212, 0.8);
    border-radius: 7.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  b{
      font-size: 15px;
  }


  /* Set a style for all buttons */
  button {
    background-color: #171717;
    border-radius: 5px;
    color:#FAFAFA;
    width: 150px;
    height: 45px;
    text-align: center;
    font-size: 15px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    cursor: pointer;}
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 12px 0 6px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 8px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    align-self: center;
    padding-top: 8px;
    color: #2F8ED4;
  }

  /*Login Section */
  .login{
    text-align: center;
    font-size: 15px;
  }

  .forgotpass{
     margin: 15px 0px;
  }

